body{
    background:greenyellow;
    .main_content{
        display: flex;
        height: 123vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .main_contet__heading{
            padding: 100px;
            box-sizing: border-box;
            border: 1px solid red;
        }
        .main_content__description{
            padding: 100px;
            border: 1px solid green;
            box-sizing: border-box;
        }
    }
}