body{
    background:burlywood;
    .main_content{
        display:flex;
        height: 110vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        &__heading{
            padding: 100px;
            box-sizing: border-box;
            border:1px solid blue;
        }
        &__description{
            padding: 100px;
            border:1px solid blue;
            box-sizing:border-box;
        }
    }
}